<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creationsofali.boomboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_boom_board"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <!-- Splash -->
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.Light.TranslucentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main -->
        <activity android:name=".activities.MainActivity" />
        <!-- Timetable -->
        <activity
            android:name=".activities.TimetableActivity"
            android:parentActivityName=".activities.MainActivity" />
        <!-- Notice -->
        <activity
            android:name=".activities.NoticeActivity"
            android:parentActivityName=".activities.MainActivity" />
        <!-- UpdateProfile -->
        <activity
            android:name=".activities.ProfileSetupActivity"
            android:label="@string/update_profile"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <!-- Bookmarks -->
        <activity
            android:name=".activities.BookmarksActivity"
            android:label="@string/bookmarked"
            android:parentActivityName=".activities.MainActivity" />
        <!-- SignIn -->
        <activity
            android:name=".activities.SignInActivity"
            android:label=""
            android:theme="@style/AppTheme.Light.TranslucentStatus" />
        <!-- All Notices -->
        <activity android:name=".activities.AllOnBoardActivity" />
        <!-- ProfileDetail -->
        <activity
            android:name=".activities.ProfileDetailActivity"
            android:theme="@style/AppTheme.Light.TranslucentStatus" />
        <!-- MessagingService -->
        <service android:name=".services.BoomBoardMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- InstanceIdService -->
        <service android:name=".services.BoomBoardInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_paper_pin_line" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_amber_300" />
    </application>

</manifest>